
body {
          font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #4facfe, #000000);
            height: 100vh;

        }
        ul {
            max-width: 200px;
            padding: 0;
        }
        li {
            /*list-style: none;
            background-color: rgba(217, 219, 230, 0); */
            background-color: rgb(207, 209, 218);
            border: 10px solid #ccc;
            padding: 10px;
            margin-bottom: 8px;
            border-radius: 20px;
        }
        .nombre {
            font-weight: bold;
            
        }
        
