body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #4facfe, #000000);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .card {
            background: white;
            padding: 30px;
            border-radius: 10px;
            width: 300px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            color: #08a4ec;
        }

        input {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        input:focus {
            outline: none;
            border-color: #4facfe;
        }

        button {
            width: 30%;
            padding: 10px;
            margin-left: 2px;
            background: #4facfe;
            color: white;
            border-radius: 15px;
            font-size: 20px;
            cursor: all-scroll;
        }

        button:hover {
            background: #00c6ff;
        }